* {
    margin: 0; padding: 0; box-sizing: border-box;
}

body {
    font-family: calibri;
}
/* Home page Header */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    display: flex; justify-content: space-between; border-radius: 10px; background: rgb(77, 164, 223); margin: 10px; padding: 10px;
}
header h1 {
    line-height: 0.7; font-weight: 900; font-family: "Bebas Neue", sans-serif; font-weight: 900;   
}
.pana {
    color: rgb(228, 224, 218); font-size: 39.5px; 
}
.home_ul{
    display: flex; justify-content: center; list-style: none; gap: 70px; margin-top: 15px; font-weight: bold; padding-right: 400px; 
}
.home-nav-li a{
    text-decoration: none; color: black;
}

/* Main body */
main {
    flex: 1;
}
#body {
    margin: 10px; padding: 10px;
}
#home-img {
    width: 1300px; height: 500px;
}
.para {
    font-size: 20px;
}

/* Footer */

footer {
    background: rgb(77, 164, 223); border-radius: 5px; margin: 10px; padding: 10px; text-align: center;
}

/* ---------------------------------------------------------------------- */

/* About Page */

.about-1 {
    display: flex; justify-content: space-between; 
}
#profile-pic {
    width: 400px; height: 200px; margin: 10px; border-radius: 20px;
}
#about {
    margin: 10px; padding: 10px;
}
.about-li {
    margin-left: 20px;
}

/* ---------------------------------------------------------------------- */

/* Portfolio Page */

.portfolio-1 {
    margin: 10px; padding: 10px; display: flex; justify-content: space-between; gap: 20px; margin: 10px;padding: 10px;
}
.portfolio-img {
    width: 50%; height: 150px;
}

/* Contact Page */

#contact {
    margin: 15px; padding: 15px;
}
fieldset{
    padding: 20px;
    margin-bottom: 20px;
}
#img-4 {
    width: 1300px; height: 800px;
}

/* Media Query */

@media (max-width: 786px) {
    html {
        font-size: 55%;  
    }
    .home_ul {
        font-size: 10px; gap: 30px; margin-left: 40px;
    }
    .pana {
        font-size: 22px;
    }
    #home {
        margin: 10px;
    }
    #home-img {
        width: 430px; height: 300px;
    }
    .para {
        font-size: 15px;
    }

    /* About */

    .about-1 {
        flex-direction: column;
    }
    #profile-pic {
        width: 200px; height: 200px;
    }
    .about-li {
        font-size: 15px;
    }
    #about-iframe {
        width: 400px; height: 300px;
    }

    /* Contact */

    form {
        font-size: 15px;
    }
    #img-4 {
        width: 400px; height: 300px;
    }
}