* {
    margin: 0; padding: 0; box-sizing: border-box;
}
body {
    font-family: 'Times New Roman', Times, serif;
}
#container {
    text-align: center; display: flex; justify-content: center;
}

#div1 {
    text-align: center; border: 1px solid black; margin: 50px; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px darkgreen; background: rgb(210, 221, 194); width: 50%;
}

#div1 input {
    padding: 3px; background: rgb(241, 247, 234); border: 0.1px solid rgb(143, 143, 143); border-radius: 5px; color: rgb(0, 73, 0); 
}

button {
    padding: 4px 10px; border-radius: 20px; border: 1px solid purple; box-shadow: 0 0 6px darkgreen; color: darkgreen; font-weight: bold; font-family: calibri; font-size: 15px; background: rgb(145, 180, 145); cursor: pointer; 
}
button:hover {
    border-radius: 20px 100px; padding: 4px 12px;
}

#div2 {
    text-align: center; border: 1px solid black; margin: 50px; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px darkgreen; background: rgb(210, 221, 194); width: 50%; 
}

@media(max-width: 786px) {
    #container {
        display: flex; flex-direction: column;
    }
}
